nav {
  background: #111;
  margin: 0px auto;
  padding: 1em;
 
  ul {
    display: flex;
    column-gap: 2em;
    padding: 0px;
    list-style: none;
    max-width: 1000px;
    margin: 0px auto;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.banner {
  height: 400px;
  line-height: 400px;
  font-size: 4em;
  color: #3ea1b2;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-image: url('banner.jpg');
  background-position: center -300px;
  background-size: cover;
}