:root {

    /* === Skøll Stuff === */
    ---skøll-charcoal: #29221F;
    ---skøll-yellow: #FCF7C6;
    ---skøll-red: #EF3B4F;
    ---skøll-brightblue: #20BCBA;
    ---skøll-darkblue: #14747d;

    /* === Cover / Landing area === */
    --cover-text-color: var(---skøll-yellow);
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: var(---skøll-red);
    --highlight-contrast: var(--cover-text-color);
    /*inverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: var(---skøll-red);

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 255);
    --cover-title-text-shadow: var(---skøll-red) 0px 0px 20px;


    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: var(---skøll-darkblue);


    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: var(---skøll-charcoal);
    /* Light section - background color */
    --section-light-bg-color: var(---skøll-yellow);

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: var(---skøll-darkblue);

    /* Light&Dark section >quote. Suppressive color, compared to 'Light section - text color'*/
    --section-uni-quote: grey;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7;

    /* === Single pages=== */
    --single-page-text-color: var(--section-light-text-color);
    --single-page-bg-color: var(--section-light-bg-color);

    /* === Footer === */
    --footer-color-background: var(---skøll-charcoal);
    --footer-color: var(---skøll-yellow);

    /* === Lists === */
    /* define list element for unnumbered lists, leave empty for default list element */
    --ul-li-icon: fa-asterisk;
}