{{ define "main"}}

<div class="homeblock" id="welcome">
    <h1 class="maintitle">Probably the Best Sport in Denmark</h1>
    {{ .Content }}
</div>

<!-- <hr> -->

<div class="widegallery" id="highlights">
    {{ $galDir := print "/gallery" }}
    {{ range (readDir (print "/static" $galDir)) }}
        {{- $imageurl := printf "%s/%s" $galDir .Name -}}
        <div class="imgholder">
            <a href="{{ $imageurl }}" target="_blank">
                <img src="{{ $imageurl }}" alt="">
            </a>   
        </div>
    {{ end }}
</div>

<!-- <hr> -->

<div class="homeblock contentrow" id="newsandevents">
    <div id="news">
        <h1>News</h1>
        <ul>
            {{ range (where .Site.RegularPages "Type" "news" ) | first 20 }}
            <a href="{{ .Permalink }}">
                <li>
                    {{ .Date.Format "2 January 2006" }} &mdash; {{ .Title }}
                </li>
            </a>
            {{ end }}
        </ul>
    </div>
    
    <div id="gcal">
        <h1>Events</h1>
        <iframe
        src="https://calendar.google.com/calendar/embed?height=500&wkst=1&ctz=Europe%2FCopenhagen&bgcolor=%23ffffff&src=anVnZ2VyY29wZW5oYWdlbkBnbWFpbC5jb20&color=%234285F4" style="border:solid 1px #777" width="100%" height="500px" frameborder="0" scrolling="no">
    </iframe>
    </div>
</div>

<div class="homeblock" id="poem">
    <p>
        On fields where dreams and dust collide,<br>
        Beneath the sun's and stadium's pride,<br>
        We chase the goals, with hearts so wide,<br>
        Bound by the game, and side by side. <br>
    </p>
    <p>
        Through wins that shine and losses gray, <br>
        In every pass and every play,<br>
        Our friendship grows in this grand ballet,<br>
        In sport's embrace, we find the way. <br>
    </p>
    <p id="poem-author">GPT-4o, 2024</p>
</div>

{{ end }}