
.homeblock {
    max-width: var(--main-content-width);
    margin: 0 auto;
}

.maintitle {
    text-align: center;
}

#newsandevents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1em;
}

.widegallery {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1em;
}

.widegallery img {
    height: 300px;
    width: auto;
}