
.homeblock {
    max-width: var(--main-content-width);
    margin: 0 auto;
    text-align: justify;
    padding-inline: 3em;
    padding-block: 2em;
}

#welcome {
    max-width: var(--main-text-width);

    .maintitle {
        text-align: center;
        font-size: 300%;
    }

    h1 {
        font-size: 250%;
        text-align: left;
    }
    h2 {
        font-size: 150%;
        text-align: center;
        font-style: italic;
        font-weight: 300;
    }
}

.widegallery {  /* slider-wrapper in tutorial */
    position: relative;
    max-width: 100%;
    margin-bottom: 2em;
    
    .slider {
        padding-block: 2em;
        display: flex;
        column-gap: 1em;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0, 0, 0.25);

        img {
            max-height: 500px;
            scroll-snap-align: center;
            border-radius: 0.5rem;
            padding: 0.5em;
        }
    }
}

#newsandevents {
    max-width: var(--main-content-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1em;
    padding: 4em;
    padding-top: 2em;
    margin-bottom: 2em;
    
    #news {
        height: 100%;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
            color: #000;
        }
        li {
            padding: 0.5em 1em;
        }
        li:hover {
            background-color: var(--skoll-yellow);
        }
        h1 {
            margin: 0 0 0.5em 0;
        }
    }
    
    #calendar {
        --fc-today-bg-color: var(--skoll-yellow);
        --fc-button-bg-color: var(--skoll-blue);
        --fc-button-text-color: var(--skoll-charcoal);
        --fc-button-border-color: var(--skoll-charcoal);
        --fc-button-hover-bg-color: var(--skoll-yellow);
        --fc-button-hover-border-color: var(--skoll-charcoal);
    }
}



@media screen and (max-width: 1200px) {
    #newsandevents {
        grid-template-columns: 1fr;
        max-width: var(--main-text-width);
        gap: 4em;
    }
}