
.homeblock {
    max-width: var(--main-content-width);
    margin: 0 auto;
    text-align: justify;
    padding-inline: 3em;
    padding-block: 2em;
}

#welcome {
    max-width: var(--main-text-width);

    .maintitle {
        text-align: center;
        font-size: 300%;
    }

    h1 {
        font-size: 250%;
        text-align: left;
    }
    h2 {
        font-size: 150%;
        text-align: center;
        font-style: italic;
        font-weight: 300;
    }
}

#newsandevents {
    max-width: var(--main-content-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1em;
    padding: 4em;
    padding-top: 2em;
}

.widegallery {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2em;
    padding-block: 2em;

    img {
        height: 300px;
        width: auto;
        border: 1px solid var(--skoll-charcoal);
        padding: 0.25em;
    }

    img:hover, img:has(:focus-visible) {
        background-color: var(--skoll-yellow);
    }
}

#news {
    height: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    li {
        padding: 0.5em 1em;
    }
    li:hover {
        background-color: #f0f0f0;
    }
    h1 {
        margin: 0 0 0.5em 0;
    }
}

#calendar {
    --fc-today-bg-color: var(--skoll-yellow);
    --fc-button-bg-color: var(--skoll-blue);
    --fc-button-text-color: var(--skoll-charcoal);
    --fc-button-border-color: var(--skoll-charcoal);
    --fc-button-hover-bg-color: var(--skoll-yellow);
    --fc-button-hover-border-color: var(--skoll-charcoal);
}

@media screen and (max-width: 1200px) {
    #newsandevents {
        grid-template-columns: 1fr;
        max-width: var(--main-text-width);
        gap: 4em;
    }
}