:root {
    --main-content-width: 1500px;
    --main-text-width: 900px;
    --switch-width: 1200px;
    --skoll-yellow: #fbf1d8;
    --skoll-blue: #4394a8;
    --skoll-red: #b93842;
    --skoll-charcoal: #272727;
}

body {
    margin: 0 auto;
    font-family: system-ui, sans-serif;
    font-size: 18px;
}