<nav>
    <div class="header_message">
        Home of <span class="skoll">SKØLL</span>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            {{ range .Site.Sections }}
            <li>
                <a href="{{ .Permalink }}">
                    {{ if .Params.menu_title }}
                    {{ .Params.menu_title }}
                    {{ else }}
                    {{  .Title }}
                    {{ end }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>