<div class="nav-holder">
    <div class="header_message" tabindex="0">
        <a href="/">
            <span id="home_of_skøll_1">Home</span>
            <span id="home_of_skøll_2">of</span>
            <span id="home_of_skøll_3">SKØLL</span>
        </a>
    </div>
    <div class="menu">
        <label class="hamburger-menu">
            <input type="checkbox">
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            {{ range .Site.Sections }}
                {{ if .Params.hide }}
                {{ else }}
                <li>
                    <a href="{{ .Permalink }}">
                        {{ if .Params.menu_title }}
                        {{ .Params.menu_title }}
                        {{ else }}
                        {{  .Title }}
                        {{ end }}
                    </a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>