<div id="calendar">
    <script>
        // This script initializes the FullCalendar plugin.
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                googleCalendarApiKey: 'AIzaSyDQEze25EPXJQgPDaZctL2VQCgq2pWg76Y',
                events: 'juggercopenhagen@gmail.com',
                initialView: 'dayGridMonth',
                contentHeight: 'auto',
            });
            calendar.render();
        });
    </script>
</div>